---
layout: default
title: Show Archive
---
<div id="main" class="page">
  <div id="show">
    <div id="content">
      <h1 id="archivetitle">Show Archive</h1>
      <p><a href="/index.html#whatson">Back to What's On</a></p>
      <ul id="showlist">
        {% for post in site.posts %}
        {% if post.date < site.time %}
        <li>
          <a href="{{ post.url }}">
            <p>{{post.showtimes | upcase}} - {{post.showtype | upcase}}</p>
            <h2>{{ post.title }}</h2>
            <p>{{ post.showprice | upcase}} ENTRY - <span class="showlink">More Info</span></p>
          </a>
          <p>-</p>
        </li>
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</div>